<table>
 	<thead>
		 <tr>
			 <td>#</td>
			 <td>Content</td>
		 </tr>
	</thead>
	 <tbody>
	 	<% @articles.each do |article| %>
		 <tr>
			 <td><%= article.id %></td>
			 <td><%= article.content %></td>
		</tr>
	 	<% end %>
	 </tbody>
</table>